<div *ngIf="!isLoading && !errorOccured">
  <h1 class="title">{{battle.fighterOne}} VS {{battle.fighterTwo}}</h1>
  <div class="candidateBlock" (click)="onVote(battle.fighterOne)">
    <h2>{{battle.fighterOne}}</h2>
    <p>{{fighterOneVote}} votes</p>
  </div>
  <div class="candidateBlock" (click)="onVote(battle.fighterTwo)">
    <h2>{{battle.fighterTwo}}</h2>
    <p>{{fighterTwoVote}} votes</p>
  </div>
</div>
<div *ngIf="errorOccured">oops! an error has occured!</div>
<div *ngIf="isLoading && !errorOccured">Loading...</div>